<p>
	<strong>First name:</strong>
	<%= @author.first_name %>
</p>

<p>
	<strong>Last name:</strong>
	<%= @author.last_name %>
</p>

<p>
	<strong>Homepage:</strong>
	<%= @author.homepage %>
</p>

<h2>Papers:</h2>
<ul>
  <% @author.papers.each do |paper| %>
    <li>
        <%= link_to paper.title, paper_path(paper) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', authors_path %>
<%= link_to 'Edit', edit_author_path %>
<%= link_to 'Destroy', author_path(@author), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
